### About Our Dataset
This dataset is mainly about top streamers on twitch from past year.  
This data consists of different things like number of viewers, number of active viewers, followers gained and many other relevant columns regarding a particular streamer. It has 11 different columns, 7 of them are integers, 2 of them are strings, and the rest of 2 are Booleans. So, this dataset has 1000 rows and 11 columns, it is suitable for our group project.  
Reference link: https://www.kaggle.com/datasets/aayushmishra1512/twitchdata

### Data collection

In [51]:
# import libraries and modules we will use
import pandas as pd
import sqlite3
import csv

In [52]:
# use pandas to read the csv file on local disk.
csv_path = r'E:\Data Analytics\DAB111 python\group project\my zip\my zip\twitchdata-update.csv'
df = pd.read_csv(csv_path)

In [53]:
# since this data looks quite clean and clear, there is no need to do any data cleaning process.
df.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

### Database processing

In [54]:
# create a database using sqlite3
con = sqlite3.connect('Twitch_data.db')
cursor = con.cursor()

In [55]:
# create a table named "twitch_data", and import columns and values from our local disk stored csv file "twitchdata-update.csv" into table.
df.to_sql('twitch_data', con, index=False, if_exists='replace')

1000

In [58]:
# let us check whether the data we inserted is successful stored or not.
df_from_sql = pd.read_sql('SELECT * FROM twitch_data', con)
df_from_sql

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,1,0,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,1,0,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,1,1,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,1,0,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,1,0,English
...,...,...,...,...,...,...,...,...,...,...,...
995,LITkillah,122524635,13560,21359,9104,601927,562691,2162107,1,0,Spanish
996,빅헤드 (bighead033),122523705,153000,3940,793,213212,52289,4399897,1,0,Korean
997,마스카 (newmasca),122452320,217410,6431,567,109068,-4942,3417970,1,0,Korean
998,AndyMilonakis,122311065,104745,10543,1153,547446,109111,3926918,1,0,English
999,Remx,122192850,99180,13788,1205,178553,59432,2049420,1,0,French

In [60]:
# save what we created and exsit databse.
con.commit()
con.close